*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(draw.jpg);
  background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
}
.sev{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top:50px ;
}
h1{
	color: #46ff03;
	font-size: 45px;
	font-weight: 600;
}
p{
	color:black;
	font-size: 19px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{



	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.sev-col{
	flex-basis: 31%;
	background: #03fc6f;
	border-radius: 10px;
	padding-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}
.sev-col a{
	text-decoration: none;
	color: inherit;
}
h3{
	color: #314759;
	font-size: 25px;
	text-align: center;
	font-weight: 600;
	margin: 10px 0 ;

}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	 }
	/* responsive styling for h1 in sev class */
	h1{
	 color: #46ff03;
	 font-size: 35px;
	 font-weight: 600;
 }
}
/* responsive styling for  footer class */
.footer{
	width: 100%;
	background: #033810;
	display: block;	
}
/* responsive styling for inner-footer class */
.inner-footer{
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}
/* responsive styling for  footer-items class */
.footer-items{
	list-style: none;
	color: #fff;
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}
/* responsive styling for p in footer-items class */
.footer-items p{
	color: grey;
	font-size: 16px;
	text-align: justify;
	line-height:25px ;
}
/* responsive styling for h2 in footer-items class */
h2{
	margin: 10px 0;
	color:#ff0099 ;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
}
/* responsive styling for border class */
.border{
	height: 2px;
	width: 40px;
	background:#ff9800;
}
ul{
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}
ul a{
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}
ul a:hover{
	color:#ff9800 ;

}
ul li {
   margin: 10px 0;
   height: 25px;
}
ul i{
	margin-right: 20px;
}
.social-media{
	width: 100px;
	color: #fff;
	text-align: center;
}
.social-media a{
	text-decoration: none;
}
.social-media i{
	height: 15px;
	width: 15px;
	margin: 20px 5px;
	padding: 10px;
	color: brown;
	border-radius: 50%;
	border: 1px solid grey;
	transition: 0.3s;
}
.social-media i:hover{
	background: grey;
}
.footer-button{
	padding: 10px;
	background: #3d544f;
	color: #fff;
	font-size: 12px;
}
@media screen and(max-width: 1085px){
	.footer-items{
		width: 100%;
	}
	h1{
	padding: 5px 0;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;

}

}
@media screen and(max-width: 600px){
	.footer-items{
		width: 100%;
	}

}
